################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Olive.Microservice.Hub
/bin/Debug
/obj

*.css
*.js
*.map
/Website/wwwroot/lib
