
@include media-breakpoint-up(lg) {
    .side-bar.collapsed { margin-left: -16.56667%; }
}

@include media-breakpoint-up(xl) {
    .side-bar.collapsed { margin-left: -16.66667%; }
}

.side-bar, #sidebarCollapse, .task-bar, .task-bar #taskBarCollapse { transition: all 0.3s ease-in-out; }

#sidebarCollapse { width: 25px; height: 48px; background: #137372; box-shadow: none; outline: none !important; border: none; position: absolute; top: 13px; color: #ffffff; text-align: left; border-top-right-radius: 24px; border-bottom-right-radius: 24px;

    &:hover { cursor: pointer; background-color: #218988; }

    &.collapse { left: 0px;

        &:hover { background-color: #137372; }
    }
}

// feature button
.feature-button small { display: block; font-size: 10pt; font-weight: normal; opacity: .65; font-weight: lighter; }

//task bar on the right
.task-bar { background-color: #313234; position: relative; min-height: 100vh;

    &.collapsed iframe { display: none !important; }

    #taskBarCollapse { width: 25px; left: -24px; padding-left: 10px; height: 48px; background: #313234; box-shadow: none; outline: none !important; border: none; position: absolute; top: 13px; color: #ffffff; border-top-left-radius: 24px; border-bottom-left-radius: 24px;

        &:hover { cursor: pointer; background-color: #137372; }
    }

    iframe { height: 100% !important; border: 0; }
}
